.container {
    height: 100vh;
    position: relative;
    text-align: center;
    background-image: linear-gradient(to right, white , green);
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    color: white;
    background-image: linear-gradient(to right, white , green);
  }